<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/app.css}">

    <title th:unless="${empty}" th:text="${pizza.nome}"></title>
    <title th:if="${empty}">Pizza non trovata</title>
</head>

<body>
    <nav th:replace="~{navbar :: navbar('Pizze')}"></nav>
    <div class="container">

        <h1 class="text-center m-3">Crea una nuova pizza</h1>

        <form id="pizza-form" th:action="@{/pizze/create}" th:object="${pizza}" method="post">
            <div class="row">
                <div class="col-8">
                    <div class="row fw-bold gy-2">
                        <div class="col-12 mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome pizza"
                                th:field="*{nome}">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="descrizione" class="form-label">Descrizione</label>
                            <textarea class="form-control" id="descrizione" rows="3" placeholder="Descrizione pizza"
                                th:field="*{descrizione}"></textarea>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="foto" class="form-label">Foto</label>
                            <input type="text" class="form-control" id="foto" placeholder="URL foto pizza"
                                th:field="*{foto}">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="prezzo" class="form-label">Prezzo (&euro;)</label>
                            <input type="number" step=".01" class="form-control" id="prezzo" placeholder="Prezzo pizza"
                                th:field="*{prezzo}">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Aggiungi pizza</button>
                            <a th:href="@{/pizze}" class="btn btn-danger">Annulla</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>


    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>