<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/app.css}">

    <title>Elenco pizze</title>
</head>

<body>
    <nav th:replace="~{navbar :: navbar('Pizze')}"></nav>

    <h1 class="text-center m-3">Pizze</h1>

    <div class="container">
        <div class="mb-3 d-flex justify-content-between">
            <a th:href="@{/pizze/create}" class="btn btn-primary">Inserisci una nuova pizza</a>
            <form method="get" th:action="@{/pizze}">
                <div class="input-group">
                    <input name="keyword" type="search" class="form-control" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>

                    </button>
                </div>
            </form>
        </div>

        <table class="table table-striped" th:if="${lista.size() > 0}">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Prezzo (&euro;)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${lista}" class="align-middle">
                    <td th:text="${item.nome}"></td>
                    <td th:text="${item.descrizione}"></td>
                    <td><img th:src="${item.foto}" th:alt="${item.nome}" class="img-fluid" style="max-width: 150px;">
                    </td>
                    <td th:text="${item.prezzo}"></td>
                    <td>
                        <a th:href="@{|pizze/show/${item.id}|}" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-primary" role="alert" th:unless="${lista.size() > 0}">Non ci sono pizze presenti al
            momento, ci scusiamo per l'inconveniente.</div>
    </div>


    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>